<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <script src="https://code.jquery.com/jquery-3.3.0.min.js"
    integrity="sha256-RTQy8VOmNlT6b2PIRur37p6JEBZUE7o8wPgMvu18MC4=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" integrity="sha256-3Jy/GbSLrg0o9y5Z5n1uw0qxZECH7C6OQpVBgNFYa0g=" crossorigin="anonymous"></script>
    <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  {% include head-custom.html %}
  <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
</head>

<body>

  <header>
    <h1>{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    <p>{{ page.description | default: site.description | default: site.github.project_tagline }}</p>
  </header>

  <div id="banner">
    <h1 class="vertical-center"><strong>Model Railroading As An Adventure In 3D Model Design And Printing</strong></h1>
  </div><!-- end banner -->

  <div class="wrapper">
    <nav>
      <ul>
      </ul>
    </nav>
    <section>
      {{ content }}

    </section>
    <section>
      <img src="https://nscale4by8.github.io/nscaleClevelandFlats/nscaleClevelandFlatsProfilePic.jpeg"
        alt="Project Profile Picture">
    </section>
    <footer>
      <p><img src="https://github.com/nscale4by8/nscaleClevelandFlats/tree/Published/assets/images/PanoMedium.png"
           alt="Panorama"></p>
      {% if site.github.is_project_page %}
      <p>Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
      {% endif %}
      <p><small>Last Updated 20260322</small></p>
    </footer>
  </div>
</body>

</html>
